ol {
     margin-left: 10px;
     margin-top:  10px;
     list-style-position: inside;
   }
  
   
   p{
     color: white;
     text-align: left
   }
   li{
     text-align: left
   }
   
   *{
     text-align: center
   }
   
   
   /* Write your CSS below, don't change the rules above. */
   